 {% extends "layout.html" %}

{% block content %}

<div class="container">
    <h3>Welcome to the Bhagvad Gita...!</h3>
    <hr>
    
    
    <!-- Add your images with names here -->
    <div style="display: flex; justify-content: space-between;">
        <div>
            <img src="/static/lord_krishna.png" alt="Lord Krishna" width="570" height="500">
            <p>Lord Krishna</p>
        </div>        
        <div>
            <img src="/static/lord_vishnu.jpg" alt="Image 2" width="550" height="500">
            <p>Lord Vishnu</p>
        </div>
    </div>
</div>

{% endblock %}
